<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Add this element -->
	<configSections>
	<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<!-- Add this element -->
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
		<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
		<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
			<!--接下来的一行指定了数据库的位置，为了保证开发时和发行时均有效，请注意其相对位置-->
		<!--
			<property name="connection.connection_string">Data Source=..\..\..\MaterialMIS.db</property>
-->		
		<property name="connection.connection_string">Data Source=WGSF_Data.db</property>
		<!--
		<property name="show_sql">true</property>  
		-->
		<mapping assembly="DomainModel" />
		</session-factory>
	</hibernate-configuration>
	
	<!-- SQLite数据库的连接串 -->
	<appSettings>  
		<!--接下来的一行指定了数据库的位置，为了保证开发时和发行时均有效，请注意其相对位置-->
		<add key="SQLiteConnectionString" value="Data Source=WGSF_Data.db"/>  
	</appSettings>

	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>